<div style="background-color:rgb(227 255 147);">
    <div class="box">
        <div class="main-page">
            <h2 class="tname"> My Courses</h2>
            <div class="courses-list">
                <div class="course">
                    <img src="assets\course3.jpeg" alt="Course 1">
                    <h2><a href="#computer-networks" routerLink="/StudentSubSess">CSE340-Computer Networks</a><br></h2>
                    <h4>Winter 2024</h4>
                </div>
                <div class="course">
                    <img src="assets\course2.png" alt="Course 2">
                    <h2><a href="#dbms">CSE250-Database Management Systems</a></h2>
                    <h4>Winter 2023</h4>
                </div>
                <div class="course">
                    <img src="assets\course3.jpeg" alt="Course 3">
                    <h2><a href="#hci">CSE519-Human Computer Interaction</a></h2>
                    <h4>Winter 2024</h4>
                </div>
                <div class="course">
                    <img src="assets\course2.png" alt="Course 3">
                    <h2><a href="#hci">STA202-Mathematical Statistics</a></h2>
                    <h4>Monsoon 2023</h4>
                </div>

            </div>
        </div>
    </div>
</div>