<div class="row" style = "background-color: #00bF63;">
    <div class="col-md-2 arrow" >
        <span><i class="fa-solid fa-arrow-left"></i></span>
    </div>
    <div class="col-md navbar">
        <img src = "../../assets/logoinGreen.jpg" class = "img-fluid left">
          <span class = "heading"> Computer Networks</span>
        <img src = "../../assets/logoinGreen.jpg" class = "img-fluid right">
    </div>
</div>

<div style = "position:relative; background-color:rgba(218, 255, 114, 0.77)">
    <div class="row">
        <div class="col-md-3">
            <app-menu [menuScreen]="menuScreen"></app-menu>
        </div>
        <div class="col-md">
            <app-assignment-overview></app-assignment-overview>
        </div>
    </div>
  </div>

