<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Assignment Page</title>
</head>
<body>
  <a href="#" class="return-arrow">&larr; Return</a>
  <header>
    <h1>Assignment 1</h1>
  </header>
  <main>
    <nav class="sidebar">
      <h2>Session 1</h2>
      <ul>
        <li><a href="#">Quiz</a></li>
        <li><a href="#">Pre-Readings</a></li>
        <li><a href="#">Assignment 1</a></li>
        <li><a href="#">Assignment 2</a></li>
      </ul>
    </nav>
    <div class="content">
      <div class="assignment-details">
        <div class="document">
          <h3>Assignment Details</h3>
          <iframe src="https://research.google.com/pubs/archive/44678.pdf" width="90%" height="350"></iframe>
        </div>
      </div>
      <div class="deadline-upload-container">
        <div class="deadline">
          <h3>Deadline</h3>
          <p>March 23, 2024, 11:59 pm </p>
          <p class="countdown"> 1 day left</p>
        </div>
        <div class="upload-section">
          <h3>Upload Your Document</h3>
          <input type="file" id="upload-file" accept=".pdf, .docx">
          <label for="upload-file" class="upload-button">Upload Document</label>
        </div>
      </div>
    </div>
  </main>
</body>
</html>
